.blogs{
    /* border: 2px solid black; */
    display: flex;
    padding: 10px;
    /* margin-left: 20px; */
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}